@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer {
  position: fixed;
  top: 0;
  right: -100%;
  width: fit-content;
  height: 100%;
  transition: right 0.5s ease;
  animation: slideInRight 0.5s forwards;
  display: flex;
  align-items: center;
}

@keyframes slideInRight {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}